{% extends "base_template.html" %}

{%block title%}
  <title>About Us</title>
  
{%endblock%}

{%block body%}
    <div class="about-section">
        <h1 class="animated infinite jello delay-1s">About Us</h1>
        <p>A team full of geeky and enthusiastic professionals</p>
      </div>
      
      <h2 class="animated 1 rubberBand" style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card animated 1 fadeInUp">
            <img src="/static/images/rishabh2.jpg" alt="Rishabh" style="width:100%">
            <div class="container">
              <h2>Rishabh Karmakar</h2>
              <p class="title">Team Leader</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>rishabh.rk1705@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card animated 1 fadeInUp">
            <img src="/static/images/atharva2.jpg" alt="Atharva" style="width:100%">
            <div class="container">
              <h2>Atharva Kulkarni</h2>
              <p class="title">Team Member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>atharvpkulkarni1108@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card animated 1 fadeInUp">
            <img src="/static/images/ketki.jpg" alt="Ketki" style="width:100%">
            <div class="container">
              <h2>Ketki Nirantar</h2>
              <p class="title">Team Member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>ketki192000@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <div class="card animated 1 fadeInUp">
            <img src="/static/images/IMG-20200119-WA0019.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Nikhil Kandekar</h2>
              <p class="title">Team Member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>nikhilbkandekar@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card animated 1 fadeInUp">
            <img src="/static/images/IMG-20200119-WA0017.jpg" alt="Anjali" style="width:100%">
            <div class="container">
              <h2>Anjali Mudaliar</h2>
              <p class="title">Team Member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>anjalimudaliar06@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card animated 1 fadeInUp">
            <img src="/static/images/pk2.jpg" alt="PK" width="100%">
            <div class="container">
              <h2>Prathamesh Kurunkar</h2>
              <p class="title">Team Member</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>kurunkarprathamesh7@gmail.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}


