{% load static %}
<html>
    <head>
    <title> Sign in form></title>
    <link rel="stylesheet" href="{% static 'success.css' %}">
        
    </head>
    <body>
    <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>        
    
    
        <div class="sign-up-form">
    
             <img src="images/tick.jpg">
            <B><I><h1 style="color:floralwhite;">Welcome to Agile </h1></I></B>
            <I><h2 style="color:greenyellow;"> You have successfully signed in </h2></I>
                
       
    </div>
    </body>
    </html>